/* * {
    color: #fff;
} */

/* .headings{
    color: #fff;
    text-align: center;
} */

body {
    padding-top: 56px;
}

.image-container {
    width: 100%;
    background-position:center;
}

.middle-banner {
    height: 56px;
    min-height: 100%;
    width: 100%
}


#index-background-image{
    background-image: url("https://res.cloudinary.com/partyupcloud/image/upload/v1658577580/cool-background_suzhkt.png");
    background-size: contain;
}

.bg-custom {
    background-color: #eeeeee; !important
}


/* #hero-image{
    background-image : url("https://res.cloudinary.com/partyupcloud/image/upload/v1658131644/crossplay_hso3d7.avif");
    height: 60vh;    
}

#dbd-image{
    background-image: url("https://res.cloudinary.com/partyupcloud/image/upload/v1658154932/banner-dbd_hcubfq.jpg");
    height: 20vh;
}

#rocket-league-image{
    background-image: url("https://res.cloudinary.com/partyupcloud/image/upload/v1658157324/rocket_league_banner_odd6n2.jpg");
    height: 20vh;
    background-position:bottom;
    background-size: contain;
    background-repeat: no-repeat;
}  */

/* .col-sm-4 img{
    max-height: 50vh;
    object-fit: cover;

} */

.game-tile {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.game-tile:hover{

    /* box-shadow: 5px 6px 6px 2px #e9ecef; */
    transform: scale(1.1);
}

.game-tile img {
    width:100%;
    height: 100%;
    object-fit: cover;
    overflow:hidden;
    border-radius: 10px;
}

footer i {
    color:#fff;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
}