@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

/* General styles  */
* {
    font-family: 'Montserrat Alternates', sans-serif;
} 

.line-break {
    color:#eeeeee;
}

/* Font styles */
a {
    text-decoration: none !important;
}

.font-pm {
    font-family: 'Permanent Marker', sans-serif;
}

.text-bone {
    color:#eeeeee;
}

/* Nav bar related styles */
body {
    padding-top: 70px;
}

/* image styles */
.image-container {
    width: 100%;
    background-position:center;
}

.middle-banner {
    height: 56px;
    min-height: 100%;
    width: 100%
}

#index-background-image{
    background-image: url("https://res.cloudinary.com/partyupcloud/image/upload/v1658577580/cool-background_suzhkt.png");
    background-size: contain;
}

.bg-custom {
    background-color: #eeeeee !important;
}

/* game tile styles */
.card-width {
    max-width:1360px
}

.game-tile {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.game-tile:hover{
    transform: scale(1.1);
}

.game-tile img {
    width:100%;
    height: 100%;
    object-fit: cover;
    overflow:hidden;
    border-radius: 10px;
}
/* footer styles */
footer i {
    color:#eeeeee;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
}

/* User feedback */
.highlighter i:hover,
.highlighter:hover{
    color:crimson !important;
}





