{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-xl"  id="banner-image">
  <img class="img-fluid" alt="{{game.title}} banner image" src={{game.banner.url}}>
</div>
<!-- <div class="container-xl"  id="{{game.ref_name}}-image">
    <img class="image-fluid" alt="{{game.title}}" src={{game.banner.url}}> -->
<div class="container-xl text-light">
<form method="post">
    {{ post_form | crispy }}
    {% csrf_token %}
    
    <button type="submit" class="btn btn-signup btn-lg btn-light">Submit</button>

  </form>
</div>

{% endblock %}