{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-xl"  id="{{game.ref_name}}-image">
    <img alt="{{game.title}}" src={{game.banner.url}}>

<form method="post">
    {{ post_form | crispy }}
    {% csrf_token %}
    <!-- <div class="form-group">
      <label for="post-title">Title</label>
      <input type="text" class="form-control" id="post-title" placeholder="Enter title here" maxlength="200">
    </div> -->
  
    <!-- <div class="form-group">
      <label for="form-content">Example textarea</label>
      <textarea class="form-control" id="form-content" rows="3"></textarea>
    </div> -->
    
    <button type="submit" class="btn btn-signup btn-lg">Submit</button>

  </form>
</div>

{% endblock %}