{% extends "base.html" %}

{% block content %}

<div class="container-xl"  id="banner-image">
    <img class="img-fluid" alt="{{game.title}} banner image" src={{game.banner.url}}>
</div>
<div class="container-xl">
    {% if user.is_authenticated %}
    <button class = "btn btn-light btn-lg btn-block mt-2 mb-2">
        <a class = "link-dark" href="{% url 'create_post' game.ref_name %}">
            Create New Post
        </a>
    </button>
    {% else %}
    <h2 class="font-pm text-center text-bone my-2">Sign up or login in to post</h2>
    <!-- <button type="button" class="btn btn-outline-light">
        <a href="{% url 'account_signup' %}">Register</a>
    </button>
    <button type="button" class="btn btn-outline-light">
        <a href="{% url 'account_login' %}">Login</a>
    </button> -->
    {% endif %}

    <table class="table table-secondary table-striped">
        <thead>
            <th scope="col">Title</th>
            <th scope="col">Created By</th>
            <th scope="col">Latest update</th>
        </thead>
        <tbody>
            
            {% for x in post %}
            <tr>
                <td>
                    <a href = "{% url 'post_page' x.id %}">
                        {{ x.title }}
                    </a>
                </td>
                <td>{{ x.author }} - {{ x.created_on }}</td>
                <td>{{ x.most_recent }}</td>
            </tr>
            
            {% endfor %}
            
        
        </tbody>
    </table>
</div>


{%endblock%}