{% extends "base.html" %}

{% block content %}



<div class="row" id="index-background-image">
    <div class="container-fluid col-sm-9 headings">

        <div class="row">
            <div class="col text-dark text-center">
            <h1>Looking for players?</h1>
            <h2>Find a gaming buddy here!</h2>
            </div>
        </div>
        
            
              
        <div class="row justify-content-center mb-4">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fa-solid fa-gamepad"></i></h5>
                        <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fa-solid fa-user-group"></i></h5>
                        <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fa-solid fa-arrow-turn-up"></i></h5>
                        <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark mb-2 middle-banner">&nbsp;</div>

<div class="container-fluid container-xl">
    <div class="row">
    {% for game in game_list %}
        <div class="col-sm-4 game-tile pulse">
            <a href="{% url 'game_page' game.ref_name %}">
                <img alt="{{game.title}}" src={{game.image.url}}>
            </a>
        </div>              
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">     
    {% endif %}                       
    {% endfor %}



{%endblock%}