{% extends "base.html" %}

{% block content %}

<!-- <div class ="image-container" id="hero-image">
</div> -->
<div class="container-fluid container-xl headings">
    <div class="row">
        <div class="col">
        <h1>Looking for players?</h1>
        <h2>Find a gaming buddy here!</h2>
        </div>
    </div>
</div>

<div class="container-fluid container-xl">
    <div class="row">
    {% for game in game_list %}
        <div class="col-sm-4 game-tile">
            <a href="{% url 'game_page' game.ref_name %}">
                <img alt="{{game.title}}" src={{game.image.url}}>
            </a>
        </div>              
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">     
    {% endif %}                       
    {% endfor %}



{%endblock%}