<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm">
    <div class="container-xl">
        <a href="{% url 'home' %}" class="navbar-brand fs-3">
            <i class="bi bi-joystick"></i><span class="highlighter font-pm"> Party Up! </span><i
                class="bi bi-joystick"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDarkDropdown">

            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light fw-bold" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="highlighter">Games</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">

                        {% for gamename, ref in nav_games %}

                        <li>
                            <a class="dropdown-item" href="{% url 'game_page' ref %}">{{gamename}}</a>
                        </li>

                        {% endfor %}


                    </ul>
                </li>
            </ul>
            <div>
                {% if user.is_authenticated %}
                <p class="d-inline text-white me-1">
                    Welcome: {{user.username}}
                </p>
                <a class="btn btn-outline-light bg-custom text-dark fw-bold bt-sm"
                    href="{% url 'account_logout' %}"><span class="highlighter">Logout</span></a>
                {% else %}
                <a class="btn bg-custom m-1 text-dark fw-bold bt-sm" href="{% url 'account_signup' %}"><span
                        class="highlighter">Register</span></a>

                <a class="btn bg-custom m-1 text-dark fw-bold bt-sm" href="{% url 'account_login' %}"><span
                        class="highlighter">Login</span></a>

                {% endif %}
            </div>
        </div>
    </div>
</nav>