{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container-xl">
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <table>
    {% for comment in comments %}
    <tr>
        <td>{{ comment.content }}</td>
        <td>{{ comment.author }} </td>
        <td>{{ comment.created_on }}</td>
    </tr>
    
    {% endfor %}
    </table>
    {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}

</div>

{%endblock%}