{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container-xl text-light">

  <div class="container-xl" id="banner-image">
    <img class="img-fluid" alt="{{game.title}} banner image" src={{game.banner.url}}>
  </div>
  {% if user.is_authenticated %}
  {% else %}
  <h2 class="font-pm text-center text-bone my-2">Sign up or login in to post</h2>

  {% endif %}
  <div class="card text-black bg-light mb-3">
    <div class="card-header">
      <h1>{{post.title}}</h1>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Dark card title</h5> -->
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>




  {% for comment in comments %}
  <!-- <tr>
        <td>{{ comment.content }}</td>
        <td>{{ comment.author }} </td>
        <td>{{ comment.created_on }}</td>
    </tr> -->

  <div class="card text-black bg-light mb-2">
    <div class="card-header">By {{comment.name}} on {{comment.created_on}}</div>
    <div class="card-body">
      <!-- <h5 class="card-title">Dark card title</h5> -->
      <p class="card-text">{{comment.content}}</p>
    </div>
  </div>


  {% endfor %}
  <!-- </table> -->
  {% if user.is_authenticated %}
  <div class="container col-sm-6">
    <div class="row justify-content-center">
      <h3>Leave a comment:</h3>
      <p>Posting as: {{ user.username }}</p>
      <form method="post" class="mt-1">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg btn-light mt-1">Submit</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>

{%endblock%}